.comments {
    flex: 1;
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 16px;
    min-height: 0;
}

.commentsLists {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;

}
.commentCount {
    font-size: 18px;
    color: #999;
}
.commentsLists .comment {
    display: flex;
    gap: 16px;
    /* align-items: center; */
}

.commentsLists .comment .commentAvatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.commentsLists .comment .commentContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.commentTime {
    font-size: 13px;
    color: #999;
}

.commentForm {
    display: flex;
    gap: 16px;
    /* width: 100% ; */
    align-items: center;
    border-radius: 32px;
    padding: 8px 16px;
    background-color: #f9f9f9;
    /* background-color: pink; */
}

.commentForm input {
    flex: 1;
    padding: 16px;
    background-color: transparent;
    /* border: 1px solid #e9e9e9; */
    border: none;
    border-radius: 20px;
    outline: none;
}

.commentForm .emoji {
    cursor: pointer;
    font-size: 20px;
    position: relative;
}
.emojiPicker{
    position: absolute;
    right: 0;
    bottom: 50px;
}