.profilePage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    /* background-color: pink; */
    /* padding: 10px 0; */
}   
.profileUserName{
    font-size: 24px;
    font-weight: bold;
}
.profileUserHandle{
    font-size: 14px;
    color: #666;
}
.followCounts{
    display: flex;
    gap: 16px;
    font-size: 18px;
    color: #666;
    /* font-weight: bold; */
}
.followCounts .followers{
    font-size: 15px;
    font-weight: 400;
}
.followCounts .following{
    font-size: 15px;
    font-weight: 400;
}
.profileInteraction{
    display: flex;
    align-items: center;
    gap: 46px;
}
.profileInteraction img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer ;
}
.profileButton{
    display: flex;
    gap: 18px;
}
.profileButton button{
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
}
.profileButton button:last-child{
    background-color: #e60023;
    color: white;
}

.profileButton button:last-child:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.profileButton button:last-child:hover {
    background-color: #c1011e;
}
.profileOptions{
    display: flex;
    /* background-color: pink; */
    gap: 16px;
   
    margin-top: 16px;
    font-size: 18px;
    /* font-weight: bold; */
}
.profileOptions span{
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 2px;
}
.active{
    border-bottom: 3px solid black;
}
.profileContent{
    margin-top: 10px;
}